{
  "extends": "@t5",
  "rules": {
    "no-console": "off",
     "no-restricted-syntax": 0,
     "no-sequences": 0,
     "no-use-before-define": 0
  },
  "overrides": [
    {
      "files": ["package.json"],
      "rules": {
        "jsonc/sort-keys": [
          "warn",
          {
            "pathPattern": "^$",
            "order": [
              "name",
              "version",
              "description",
              "keywords",
              "license",
              "repository",
              "funding",
              "author",
              "type",
              "files",
              "exports",
              "main",
              "module",
              "unpkg",
              "bin",
              "scripts",
              "husky",
              "lint-staged",
              "peerDependencies",
              "peerDependenciesMeta",
              "dependencies",
              "devDependencies",
              "eslintConfig"
            ]
          },
          {
            "pathPattern": "^(?:dev|peer|optional|bundled)?[Dd]ependencies$",
            "order": {"type": "asc"}
          }
        ]
      }
    }
  ]

}
